node_modules/
.next/
out/
build/
dist/
.env
.env.local
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
android/
twa-build/
*.keystore
*.apk
*.aab
*.idsig
.gradle/
gradle/
gradlew
gradlew.bat
build.gradle
gradle.properties
settings.gradle
manifest-checksum.txt
/app/
build/
local.properties
store_icon.png
twa-manifest.json


